<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<header>
    <div class="form-group">
      <div class="col-12" style="padding-bottom: 8%; background-color: #003daa;">
        <img src="logoFacens.png" class="img-fluid float-right" alt="Responsive image" style="width: 20%;">
  
      </div>
  
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Início</a>
            <a class="nav-item nav-link " href="/authors">Autores </a>
            <a class="nav-item nav-link" href="/publishers">Editoras</a>
            <a class="nav-item nav-link" href="/books">Livros</a>
            <a class="nav-item nav-link active" href="/about">Sobre</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

<body>
    <div style="margin-left: 2%;">
        <p class="form-check-label">Atividade 03 e Atividade 04- Nota AC2</p>
        <p class="form-check-label">Professor: Glauco Todesco</p>
        <p class="form-check-label">Paola Rodrigues Lopes - 180115</p>
        <p class="form-check-label">Engenharia da Computação - 5º Semestre</p>
    </div>


</body>

</html>